body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
header {
	background-color: red;
	height: 100vh;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	position: relative;
	padding: 0 60px;
}
header img {
	width: 100%;
}
.title-large {
	font-size: 45px;
	color: #ffffff;
	line-height: 65px;
}
.valign {
	display: flex;
	align-items: center;
}
.button-scroll {
	width: 24px;
	height: 46px;
	border: 3px solid #ffffff;
	border-radius: 15px;
	position: absolute;
	bottom: 30px;
/* 	left: calc(50% - 12px); */
	left: 50%;
/* 	margin-left: -12px; */
	transform: translate(-50%,0);
}
.button-scroll span {
	animation: button 1s infinite;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 8px;
}
@keyframes button {
	0% {
    margin-top: 30px;
  }
  50% {
    margin-top: 24px;
  }
  100% {
    font-size: 30px;
  }
}
/* section filter */
.filter-wrapper {
	background-color: #2b2a2a;
}
.width {
	width: 50%;
}
.width2 {
	width: 25%;
}
.img-item {
/*	display: inline-block;
	vertical-align: top;*/
}
.grid {
	width: 100%!important;
}
.grid-item { width: 25%; padding: 0 25px;
		margin-top: 50px;position: relative;}
.grid-item--width2 { width: 50%; }
/* section slider */
section.slider {
	background-image: url('../img/bg1.jpg'); 
    height: 550px;
    background-size: cover;
    background-attachment: fixed;
}
.your-class.slick-initialized.slick-slider.slick-dotted {
    height: 550px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding-top: 100px;
    padding-left: 100px;
    line-height: 30px;
    font-style: italic;
}
.your-class h5 {
    color: #0DD3C5;
}